@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:400,700);div.site-wrap {
  padding: 0;
}

div.site-wrap header {
  background-color: #f1f1f1;
}

div.site-wrap header h1 {
  text-align: center;
  margin: 0;
  padding: 30px 0;
}

div.site-wrap main.container {
  margin: auto;
}

div.site-wrap main hr {
  margin-top: 10px;
}

div.site-wrap main .tags {
  padding-bottom: 15px;
}

div.site-wrap main .tags .tags-title {
  display: inline;
}

div.site-wrap main .tags ul {
  padding: 0;
  margin-left: 5px;
  display: inline;
  position: relative;
  bottom: 2px;
}

div.site-wrap main .tags ul a.remove-filter:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

div.site-wrap main .tags ul li {
  list-style-type: none;
}

div.site-wrap main .alert-success {
  position: absolute;
  right: 20px;
  top: 20px;
}

* {
  font-family: "Nunito Sans", sans-serif;
}

form.add-contact .form-group:last-of-type {
  margin: 0;
  text-align: right;
}

form.import-contact a.sample-csv {
  position: absolute;
  right: 25px;
  top: 25px;
}

form.import-contact hr {
  margin: 10px;
}

.table-wrapper h2 {
  display: inline-block;
}

.table-wrapper .action-buttons {
  display: inline-block;
  float: right;
  margin-top: 20px;
}

.table-wrapper table.contacts thead th {
  font-weight: bold;
}

.table-wrapper table.contacts tbody td.first-name,
.table-wrapper table.contacts tbody td.surname {
  font-weight: 700;
}

.modal .modal-header h2 {
  margin-top: 10px;
}

