div.site-wrap {
  padding: 0;

  header {
    background-color: $grey;

    h1 {
      text-align: center;
      margin: 0;
      padding: 30px 0;
    }
  }

  main {
    &.container {
      margin: auto;
    }
    hr {
      margin-top: 10px;
    }
    .tags {
      padding-bottom: 15px;
      .tags-title {
        display: inline;
      }
      ul {
        padding: 0;
        margin-left: 5px;
        display: inline;
        position: relative;
        bottom: 2px;

        a.remove-filter {
          &:hover {
            box-shadow: none;
          }
        }

        li {
          list-style-type: none;
        }
      }
    }

    .alert-success {
      position: absolute;
      right: 20px;
      top: 20px;
    }

  }
}
