form.add-contact {
   .form-group {
      &:last-of-type {
        margin: 0;
        text-align: right;
      }
   }
}

form.import-contact {
  a.sample-csv {
    position: absolute;
    right: 25px;
    top: 25px;
  }
  hr {
    margin: 10px;
  }
}