.table-wrapper {
  h2 {
    display: inline-block;
  }

  .action-buttons {
    display: inline-block;
    float: right;
    margin-top: 20px;
  }

  table.contacts {
    thead {
      th {
        font-weight: bold;
      }
    }

    tbody {
      td.first-name, td.surname {
        font-weight: 700;
      }
    }
  }
}